

body{
    background: #070515;
  }

.wrapper{
    width: 420px;
    justify-content: center;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}


.gradient{
    width: 635px;
    height: 744px;
    flex-shrink: 0;
    border-radius: 744px;
    background: #E84040;
    filter: blur(450px);

  }

  #Logo{
    justify-content: center;
    display: flex;
    height: 500px;
    width: 500ox;
    margin: auto 0;
    margin-left: 18rem;
  }

.input-box{
  position: relative;
  top: 430px;
  right: 510px;
  margin-bottom: 2rem;
}

.register-link, 
p{
  color: white;
}

.remember-forgot,
p{
  color: white;
}

.btn-login{
  position: relative;
  top: 450px;
  right: 450px;
}

